<section class="blocked">
    <div class="row columns">
        <h2>FOR WEDDING PLANNERS</h2>
    </div>
    <div class="row small-up-1 medium-up-3">
        <div class="column">
            <div class="featured-img">
                <img src="https://placeimg.com/340/340/people" alt="">
            </div>
            <h4 class="title">Bulk Orders</h4>
            <p class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus non lectus mi.
                Aenean ornare justo ac molestie sollicitudin. In hac habitasse platea.
            </p>
        </div>
        <div class="column">
            <div class="featured-img">
                <img src="https://placeimg.com/340/340/people" alt="">
            </div>
            <h4 class="title">Bulk Orders</h4>
            <p class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus non lectus mi.
                Aenean ornare justo ac molestie sollicitudin. In hac habitasse platea.
            </p>
        </div>
        <div class="column">
            <div class="featured-img">
                <img src="https://placeimg.com/340/340/people" alt="">
            </div>
            <h4 class="title">Bulk Orders</h4>
            <p class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus non lectus mi.
                Aenean ornare justo ac molestie sollicitudin. In hac habitasse platea.
            </p>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Founders",
    "settings": [{
        "type": "text",
        "id": "title",
        "label": "Title"
    }],
    "blocks": [{
        "type": "founder",
        "name": "founder",
        "settings": [{
            "id": "title",
            "type": "text",
            "label": "Title"
        }, {
            "id":    "headshot",
            "type":  "image_picker",
            "label": "Headshot"
        }, {
            "id": "content",
            "type": "textarea",
            "label": "Content"
        }]
    }]
}
{% endschema %}
