<section class="blocked-links">
    <div class="row columns">
        <h2 class="title">SOME OF OUR FAVORITE WEDDINGS</h2>
    </div>
    <div class="row small-up-1 medium-up-2">
        <div class="column">
            <div class="featured-img">
                <img src="https://placeimg.com/445/390/people" alt="">
                <a href="htpp://google.com">
                    <h2 class="title">ASPEN WOOD SLICES</h2>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="featured-img">
                <img src="https://placeimg.com/445/390/people" alt="">
                <a href="htpp://google.com">
                    <h2 class="title">CENTERPIECES</h2>
                </a>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Blocked Links",
    "settings": [{
        "type": "text",
        "id": "title",
        "label": "Title"
    }],
    "blocks": [{
            "type": "founder",
            "name": "founder",
            "settings": [{
            "id":    "image",
            "type":  "image_picker",
            "label": "Image"
        }, {
            "id": "title",
            "type": "text",
            "label": "Title"
        }, {
            "id": "content",
            "type": "textarea",
            "label": "Content"
        }]
    }]
}
{% endschema %}
