<section class="featured-articles">
    <div class="row columns">
        <h2>SOME OF OUR BEST ASPEN DECOR</h2>
    </div>
    <div class="row small-up-1 medium-up-3">
        <div class="column">
            <div class="featured-img">
                <img src="https://placeimg.com/340/340/people" alt="">
                <a href="http://google.com"></a>
            </div>
            <h4 class="title">Aspen Arch</h4>
            <p class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus non lectus mi.
                Aenean ornare justo ac molestie sollicitudin.
                In hac habitasse platea dictumst.
                Fusce vitae sollicitudin lacus, nec blandit turpis.
            </p>
        </div>
        <div class="column">
            <div class="featured-img">
                <img src="https://placeimg.com/340/340/people" alt="">
                <a href="http://google.com"></a>
            </div>
            <h4 class="title">Aspen Arch</h4>
            <p class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus non lectus mi.
                Aenean ornare justo ac molestie sollicitudin.
                In hac habitasse platea dictumst.
                Fusce vitae sollicitudin lacus, nec blandit turpis.
            </p>
        </div>
        <div class="column">
            <div class="featured-img">
                <img src="https://placeimg.com/340/340/people" alt="">
                <a href="http://google.com"></a>
            </div>
            <h4 class="title">Aspen Arch</h4>
            <p class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus non lectus mi.
                Aenean ornare justo ac molestie sollicitudin.
                In hac habitasse platea dictumst.
                Fusce vitae sollicitudin lacus, nec blandit turpis.
            </p>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Featured Products",
    "settings": [{
        "type": "text",
        "id": "title",
        "label": "Title"
    }],
    "blocks": [{
        "type": "products",
        "name": "Products",
        "settings": [{
            "id":    "image",
            "type":  "image_picker",
            "label": "Image"
        }]
    }]
}
{% endschema %}
