$slick-font-path: "";
$slick-font-family: "slick";
$slick-loader-path: "";
$slick-arrow-color: white;
$slick-dot-color: white;
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: "\2190";
$slick-next-character: "\2192";
$slick-dot-character: "\2022";
$slick-dot-size: rem-calc(20px);
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;

$foundation-palette: (
  primary: #90B5A3,
  primary_dark: #55897F,
  secondary: #F0EEE8,
  secondary_dark: #616261,
  success: #90B5A3,
  warning: #ffae00,
  alert: #cc4b37,
);

$body-font-family: Muli;
$header-font-family: Vollkorn;

$header-styles: (
  small: (
          'h1': ('font-size': 24),
          'h2': ('font-size': 20),
          'h3': ('font-size': 19),
          'h4': ('font-size': 18),
          'h5': ('font-size': 17),
          'h6': ('font-size': 16),
  ),
  medium: (
          'h1': ('font-size': 48),
          'h2': ('font-size': 40),
          'h3': ('font-size': 31),
          'h4': ('font-size': 25),
          'h5': ('font-size': 18), // footer
          'h6': ('font-size': 16),
  ),
);