@import "settings";
@import "foundation";
@import "slick.scss";
@import "slick-theme.scss";
@include foundation-everything(true);
@include foundation-flex-classes;
@include foundation-flex-grid;

h2 {
  color: get-color(secondary_dark);
  font-family: Vollkorn;
  line-height: 1;
  text-transform: uppercase;
}
h4 {
  color: get-color(primary_dark);
  font-weight: 600;
}

.primary-bg {
  background-color: get-color(primary);
  color: $white;
}

.featured-img {
  position: relative;
  margin-bottom: rem-calc(30px);

  img {
    width: 100%;
    margin: 0;
  }

  a {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 5px solid $white;
    transition: background-color 500ms linear;

    &:hover {
      background-color: $white;
      h2 {
        color: get-color(primary_dark);
      }
    }
  }
}


// forms
.header-banner , .footer {
  input[type=email] {
    width: rem-calc(180px);
    border: 2px solid $white;
    color: $white;
    font-size: rem-calc(12px);
    line-height: 1;
    padding: rem-calc(3px) rem-calc(9px);
    background-color: get-color(primary);
    margin: 0 rem-calc(4px) 0 0;
    height: auto;

    &::placeholder {
      color: #F0EEE8;
      text-transform: uppercase;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #F0EEE8;
      text-transform: uppercase;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #F0EEE8;
      opacity: 1;
      text-transform: uppercase;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #F0EEE8;
      text-transform: uppercase;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #F0EEE8;
      opacity: 1;
      text-transform: uppercase;
    }
  }

  button {
    top: -3px;
    font-family: Vollkorn;
    font-size: rem-calc(12px);
    font-weight: 500;
    color: get-color(primary);
    text-transform: uppercase;
    padding: 7px 22px;
    background-color: $white;
    margin: 0;
    position: relative;
    cursor: pointer;

    &:hover, &:active {
      &::after {
        border-color: $white;
      }
    }

    &::after {
      content: "";
      display: block;
      border: 2px solid get-color(primary);
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      transition: border-color 500ms linear;
    }
  }
}

// header
.header-banner {
  text-transform: uppercase;
  color: $white;
  font-family: Muli;
  font-size: rem-calc(12px);
  line-height: 1;
  padding: rem-calc(6px) 0 rem-calc(3px);

  input[type=email] {
    display: inline-block;
  }

  button {
    display: inline-block;
  }
}

// large menu
.large-menu {
  background-color: get-color(secondary);
  padding: rem-calc(16px) 0;

  a {
    font-family: Vollkorn;
    color: get-color(secondary_dark);
    font-size: 14px;
    text-transform: uppercase;
    padding: rem-calc(16px) rem-calc(30px);
    &:hover {
      color: get-color(primary);
    }
  }

  .logo {
    padding: 0;
    img {
      margin: 0;
    }
  }
}

// footer
.footer {
  background-color: get-color(primary_dark);
  padding: rem-calc(50px) rem-calc(100px);
  color:$white;

  h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    text-transform: uppercase;
  }

  h5 {
    font-size: rem-calc(18px);
  }

  ul {
    margin-bottom: rem-calc(20px);
  }

  a {
    color: #90B5A3;
    padding-left: 0;
    padding-right: 0;
    transition: color 500ms linear;
    &:hover {
      color: $white;
    }
  }

  .fa {
    font-size: rem-calc(48px);
    padding-right: rem-calc(16px);
  }

  input[type=email] {
    background-color: #55897F;
    text-align: center;
    width: 100%;
    padding: rem-calc(5px) rem-calc(9px);
    margin-bottom: rem-calc(16px);
  }

  button {
    display: block;
    text-align: center;
    width: 100%;
    color: #55897F;

    &::After {
      border-color: #55897F;
    }
  }
}

.copyright {
  background-color: get-color(secondary_dark);
  color: $white;
  padding: rem-calc(16px) 0;
  text-transform: uppercase;

  p {
    margin: 0;
  }

  small {
    font-size: rem-calc(12px);
  }
}

//slider
.slider, .testimonials {
  margin: 0;
  height: auto;
  color: $white;

  .slick-next {
    right: calc(50% - 600px - 65px);
    z-index: 2;
    width: 65px;
    height: 65px;

    &::before {
      font-size: rem-calc(65px);
      content: "\f18e";
      font-family: FontAwesome;
      color: $white;
    }
  }

  .slick-prev {
    left: calc(50% - 600px - 65px);
    z-index: 2;
    width: 65px;
    height: 65px;

    &::before {
      font-size: rem-calc(65px);
      content: "\f190";
      font-family: FontAwesome;
      color: $white;
    }
  }

  .slick-dots {
    bottom: 25px;
    z-index: 2;

    button::before {
      border-radius: 100%;
      width: 20px;
      height: 20px;
      border: 2px solid $white;
      background-color: transparent;
      transition: 500ms background-color linear;
      opacity: 1;
    }

    .slick-active button::before {
      background-color: $white;
      opacity: 1;
    }
  }

  .slide {
    padding: rem-calc(148px) 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &:after {
      content: "";
      display: block;
      border: 3px solid $white;
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: 10px;
      right: 12px;
    }
  }

  .title {
    color: $white;
    font-family: Vollkorn;
    font-size: 65px;
    margin-bottom: 32px;
    line-height: 1;
    text-transform: uppercase;
  }
  .subtitle {
    font-family: Vollkorn;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 32px;
    line-height: 1;
  }

  .button {
    font-family: Vollkorn;
    font-size: rem-calc(16px);
    font-weight: 500;
    color: get-color(primary);
    text-transform: uppercase;
    padding: 16px 37px;
    background-color: $white;
    margin: 0;
    position: relative;
    cursor: pointer;
    z-index: 2;

    &:hover, &:active {
      &::after {
        border-color: $white;
      }
    }

    &::after {
      content: "";
      display: block;
      border: 2px solid get-color(primary);
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      transition: border-color 500ms linear;
    }
  }
}

// testimonials
// note it extends from the .sliders styles
.testimonials {
  color: $white;

  .slide {
    padding: rem-calc(32px) 0 rem-calc(48px);
    &:after {
      display: none;
    }
  }

  .title {
    font-size: rem-calc(40px);
    margin-bottom: rem-calc(70px);
  }

  .headshot {
    img {
      display: inline-block;
      border-radius: 100%;
      border: 3px solid get-color(primary);
      margin-bottom: rem-calc(16px);
    }
  }

  .rating {
    font-size: rem-calc(28px);
  }

  .quote {
    font-family: Vollkorn;
    font-size: 25px;
    font-style: italic;
    margin-bottom: rem-calc(28px);
  }

  .name {
    font-family: Vollkorn;
    font-size: rem-calc(25px);
    font-style: italic;
    font-weight: 600;
    margin-bottom: rem-calc(28px);
  }
}

// alt rows
.alt-rows, .stripped-alt-rows {
  padding: rem-calc(50px) 0;

  .title {
    margin-bottom: rem-calc(50px);
    max-width: rem-calc(500px);
  }

  img, p {
    margin-bottom: rem-calc(32px);
  }

  .content {
    color: get-color(secondary_dark);
    font-size: rem-calc(14px);
  }
}

// stripped alt rows
.stripped-alt-rows {
  padding-bottom: 0;

  .title {
    margin-bottom: rem-calc(50px - 32px);
  }

  .align-center {
    padding-top: rem-calc(32px);
  }

  .stripped {
    background-color: get-color(secondary);
  }
}

// faq
.faq {
  padding: rem-calc(50px) 0;

  h5 {
    color: get-color(primary_dark);
    margin-bottom: rem-calc(14px);
  }

  p + h5 {
    margin-top: rem-calc(50px);
  }
}

// founders
.founders {
  padding: rem-calc(50px) 0;
  background-color: get-color(secondary);
  text-align: center;

  h2 {
    margin-bottom: rem-calc(30px);
  }

  img {
    border-radius: 100%;
    border: 5px solid get-color(primary_dark);
    margin: rem-calc(30px) 0;
  }

  .title {
    color: get-color(primary_dark);
    margin-bottom: rem-calc(30px);
  }

  .content {
    margin: 0;
    font-size: rem-calc(14px);
  }
}

//blocked content
.blocked {
  padding: rem-calc(50px) 0;
  text-align: center;

  h2 {
    margin-bottom: rem-calc(30px);
  }

  .featured-img {
    position: relative;
    margin-bottom: rem-calc(30px);

    img {
      width:100%;
      margin: 0;
    }

    &::after {
      content: "";
      display: block;
      border: 5px solid $white;
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 8px;
    }
  }

  .title {
    color: get-color(primary_dark);
  }

  .content {
    margin-bottom: 0;
    font-size: rem-calc(14px);
  }
}

// blocked-links
.blocked-links {
  padding: rem-calc(50px) 0;
  text-align: center;

  .title {
    margin-bottom: rem-calc(30px);
  }

  .featured-img .title {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: rem-calc(30px);
    right: rem-calc(30px);
    transform: translateY(-50%);
    color: $white;
    transition: color 500ms linear;
  }
}

// gallery
.gallery {
  background-color: get-color(primary);
  color: $white;
  padding: rem-calc(50px) 0 rem-calc(20px);

  h2 {
    text-align: center;
    margin-bottom: rem-calc(30px);
    color: $white;
  }

  img {
    width: 100%;
    margin-bottom: rem-calc(30px);
  }
}

// featured-products
.featured-products {
  background-color: get-color(secondary);
  padding: rem-calc(50px) 0;
  text-align: center;

  h2 {
    text-align: center;
    margin-bottom: rem-calc(30px);
  }

  .featured-img {
    margin-bottom: rem-calc(30px);
  }

  .title {
    color: get-color(primary_dark);
    margin-bottom: rem-calc(15px);
  }

  .content {
    font-size: rem-calc(14px);
    margin-bottom: rem-calc(15px);
  }

  .price {
    color: get-color(secondary_dark);
    font-size: rem-calc(22px);
    font-family: Vollkorn;
    font-weight: 600;
    text-align: center;
  }
}

// featured articles
.featured-articles {

  background-color: get-color(secondary);
  padding: rem-calc(50px) 0;
  text-align: center;

  h2 {
    text-align: center;
    margin-bottom: rem-calc(30px);
  }

  .featured-image {
    margin-bottom: rem-calc(30px);
  }

  .title {
    color: get-color(primary_dark);
    margin-bottom: rem-calc(15px);
  }

  .content {
    font-size: rem-calc(14px);
    margin-bottom: rem-calc(15px);
  }
}